*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  height: 100%;
}

body {
  color: #999999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}

.box{
  width: 300px;
  padding-left: .5rem;
  height: 50px;
  margin-bottom: 30px;
}

.search-wrap {
  text-align: center;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

input.search{
  width: 300px;
  height: 50px;
  border: 1px solid #A7B1BB;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

input.search::-webkit-input-placeholder {
   color: #65737e;
}
input.search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}
input.search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}
input.search:-ms-input-placeholder {
   color: #65737e;
}

.search-wrap .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  left: 0;
  color: #4f5b66;
}

input.search:hover,
input.search:focus,
input.search:active{
    outline:none;
    background: #ffffff;
}
.container {
  margin: 80px auto;
  max-width: 1000px;
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;

}
@media (min-width: 40rem) {
  .cards-item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards-item {
    width: 25%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.card:hover .card-image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}
.card-content {
  border: 1px solid #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.card-title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
